:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(212, 45%, 89%);
  --grey-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --fw-regular: 400;
  --fw-bold: 700;

  --font-size-reg: 0.9375rem;

  --font-reg: 'Outfit', sans-serif;
}
body {
  display: grid;
  place-content: center;
  background-color: var(--light-grey);
}
main {
  max-width: 320px;
  border-radius: 1rem;
  background-color: white;
}

.qr-card {
  font-family: var(--font-reg);
  /* margin: 1rem; */
}

.qr-card__description {
  font-size: var(--font-size-reg);
  font-weight: var(--fw-regular);
  color: var(--grey-blue);
  text-indent: 0.5rem;
  margin: 1rem 2rem;
  margin-bottom: 2rem;
  text-align-last: center;
  line-height: 1.2;
}

.qr-card__title {
  font-size: 1.3rem;
  text-indent: 0.5rem;
  margin: 1rem 2rem;
  line-height: 1.2;
  color: var(--dark-blue);
  font-weight: var(--fw-bold);
}

.qr-card__img-container {
  border-radius: 0.5rem;
  margin: 1rem;
  margin-bottom: 1.5rem;
  height: 50%;
  overflow: hidden;
}
